.previewTable {
  width: 100%;

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0.625rem 0.25rem 0.875rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--brand-extra-dark-75);
    }
  }

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;

    &:last-child {
      text-align: right;
    }
  }
}
