.button {
  border: none;

  height: 40px;
  padding: 0px 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 999px;

  &:enabled {
    cursor: pointer;
    background-color: var(--brand-extra-dark);
    color: var(--white);

    &:hover, &:focus-visible {
      filter: contrast(0.9);
    }
    &:active {
      filter: contrast(0.7);
    }
  }
  &:disabled {
    cursor: not-allowed;
  }
  img {
    vertical-align: middle;
  }
}
