.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding: 3.125rem 3.125rem 2.5rem;
  background: transparent;
}

.mainSection {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 1rem;
  }
}
