.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding-top: 2.8125rem;
  padding-bottom: 1.5625rem;
  background: transparent;
}

@media screen and (max-width: 1000px) {
  .header {
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
  }
}
