.videoModal {
  color: var(--brand-extra-dark);

  h1 {
    margin-bottom: 0.625rem;
  }

  p {
    margin-bottom: 2rem;
  }
}

.video {
  display: block;
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}
