.global {
  color: var(--white);

  :global(p),
  :global(span) {
    &:global(.body) {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    &:global(.error.error) {
      color: var(--red-dark);
    }
  }

  :global(h1) {
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
  }

  :global(h2) {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }

  :global(h3) {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
  }

  :global(img) {
    max-width: 100%;
  }

  :global(.warningNotification) {
    max-width: 620px;
    display: flex;
    gap: 16px;
    padding: 16px;

    border-radius: 4px;
    background: var(--orange-bg);
    color: var(--brand-extra-dark);
    border: 1px solid var(--orange);

    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-align: start;

    img {
      margin: 0 16px;
    }
  }

  :global(summary) {
    cursor: pointer;
  }
}
