.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: start;
  padding: 3.125rem 3.125rem 2.5rem;
  background: transparent;
  gap: 20px;

  img {
    max-width: 50cqw;
    max-height: 67px;
    transition: max-height 0.2s ease-out;
  }
}

.mainSection {
  width: 100%;
}

@container (max-width: 1000px) {
  .header {
    padding: 1rem 0 2rem 0;
    margin-left: -10px;
  }
}
