.connectWallet {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  width: 100%;

  button {
    &&& {
      padding: 0 32px;
      border-radius: 999px;
    }
  }
}

.subHeader {
  margin-bottom: 34dvh;
}

.installMetaMaskBtn {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .subHeader {
    margin-bottom: 4.85rem;
  }
}
