.sidebarLayout {
  display: flex;
  .main {
    container-type: inline-size; /* To replace media queries with container queries, excluding sidebar */
    container-name: dapp;
    width: 100%;
  }
}

.sidebar {
  display: flex;
  width: 280px;
  height: 100dvh;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  position: sticky;
  top: 0;
  background: var(--background-background, #0d0d0f);

  hr {
    display: none;
  }

  .sidebarHeader {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
  }

  .mobileSidebarClose {
    display: none;
  }

  .logo {
    flex-shrink: 0;
    line-height: 0;
  }

  .linksWrapper {
    display: flex;
    padding: var(--spacing-6, 24px) var(--spacing-4, 16px) var(--spacing-8, 32px) var(--spacing-4, 16px);
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    .links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--spacing-2, 8px);
      align-self: stretch;

      a {
        display: flex;
        padding: var(--spacing-2, 8px) var(--spacing-4, 16px);
        align-items: center;
        gap: var(--spacing-2, 8px);
        align-self: stretch;

        color: var(--interactive-elements-idle, #fafafa);
        /* desktop/body/semibold/m */
        /* font-family: Inter; */
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 160% */
        text-decoration: none;

        &.activeLink {
          background: #202020;
        }
      }
    }
  }
}

.sidebarCheckbox {
  /* based on https://daisyui.com/components/drawer/ */
  position: fixed;
  height: 0;
  width: 0;
  appearance: none;
  opacity: 0;
}

@media screen and (max-width: 1023px) {
  .sidebarLayout {
    flex-direction: column;
  }
  .mobileSidebarClose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .sidebar {
    position: fixed;
    z-index: 101;
    transform: translate(100vw);
    transition: transform 0.2s ease-out;
    width: 100vw;
    height: 100dvh;

    hr {
      display: block;
      width: 100%;
      border-bottom: 1px solid var(--gray);
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    .sidebarHeader {
      padding: 0.75rem 1.5rem;
      align-items: center;

      svg {
        width: 75%;
        height: 75%;
      }
    }

    .mobileSidebarClose {
      display: flex;
      background-color: var(--gray-light);
    }

    .linksWrapper {
      flex-grow: 0;
      padding: 8px;
    }
  }
  .sidebarCheckbox:checked ~ .sidebar {
    visibility: visible;
    transform: translate(0%);

    & ~ .backdrop {
      position: fixed;
      z-index: 1;
      inset: 0;
      background-color: black;
      opacity: 0.5;
    }
  }
}
