.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding: 3.125rem 3.125rem 2.5rem;
  background: transparent;

  img {
    max-width: 50vw;
  }
}

.mainSection {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 1rem 0 2rem 0;
    margin-left: -10px;
  }
}
