.middleEllipsis {
  display: flex;
  white-space: nowrap;
  user-select: all;
  max-width: 14.9ch;

  > :first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 5ch;
  }

  > :last-child {
    flex-shrink: 0;
  }
}
