.middleEllipsis {
  display: flex;
  white-space: nowrap;
  user-select: all;

  > :first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 5ch;
    max-width: 9.4ch;
    margin-right: -0.5ch;
  }

  > :last-child {
    flex-shrink: 0;
  }
}
