.step1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  max-width: 670px;

  .roundConnectButton button {
    padding: 0 32px;
    border-radius: 999px;
  }

  .helpLinks {
    display: flex;
    max-width: 430px;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

    > button {
      display: flex;
      padding: 16px 32px 16px 16px;
      align-items: center;
      gap: 16px;

      border-radius: 12px;
      border: 2px solid var(--white);
      color: var(--white);

      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.step2 {
  margin: 0 auto;
  margin-top: 30px; /* Extra space so hint doesn't cover the heading */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  max-width: 670px;

  h1 {
    margin-bottom: 10px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
  }

  .cardContent button {
    margin-top: 8px;
  }
}

.step3 {
  margin: 0 auto;
  margin-top: 30px; /* Extra space so hint doesn't cover the heading */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  max-width: 700px;
  text-align: center;

  @container (max-width: 1000px) {
    text-align: left;
  }

  h1 {
    margin-bottom: 10px;
  }

  .overrideMaxWidth {
    width: 940px;
    max-width: 100cqw;
    display: flex;
    justify-content: center;
  }

  .addressWrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: stretch;

    font-size: 18px;
    font-weight: 700;
    border: 2px solid var(--white);
    border-radius: 12px;

    & > * {
      align-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    .startAdornment {
      padding: 23px;

      font-weight: normal;
      background-color: var(--white);
      color: var(--brand-extra-dark);
      border-radius: 8px 0 0 8px;
    }

    .address {
      font-family: Roboto Mono Variable, monospace;
      flex-grow: 1;
      display: flex;
      padding: 23px;
      gap: 8px;
    }

    .addressLonger > * {
      max-width: 50ch;
    }

    .endAdornment {
      display: flex;
      gap: 6px;

      border-left: 2px solid var(--white);
    }

    .plainButton {
      background-color: transparent;
    }

    @container (min-width: 701px) and (max-width: 1000px) {
      .addressLonger > * {
        max-width: calc(100cqw - 525px);
      }
    }
    @container (max-width: 700px) {
      grid-template-columns: auto auto auto;
      font-weight: 400;
      font-size: 12px;

      .startAdornment {
        grid-column-end: span 3;
        padding: 10px;

        border-radius: 8px 8px 0 0;
        text-align: center;
      }

      .endAdornment {
        border: none;
      }

      button {
        padding: 0px 15px;
      }

      .address {
        padding: 10px;
      }

      .addressLonger > * {
        max-width: calc(100cqw - 300px);
      }
    }
    @container (max-width: 450px) {
      .addressLonger > * {
        max-width: calc(100cqw - 210px);
      }
    }
  }

  a {
    color: var(--white);
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 215px;
  flex-grow: 1;

  border-radius: 4px;
  border: 1px solid var(--brand-extra-dark);
  background-color: var(--white);
  color: var(--brand-extra-dark);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 8px;
  padding: 16px;
}

.cardHeader {
  padding: 3.75rem 2.375rem;
  background-color: var(--gray-light-bg);

  h2 {
    display: flex;
    justify-content: space-between;
    margin: 0 -0.5rem;
  }
}

.cardImage {
  width: 100%;
}

.collapsible {
  max-height: 30em;
  overflow: hidden;
  transition: max-height 600ms ease-out;

  &.collapsed {
    max-height: 0em;
  }
}

.plainButton2 {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.linkButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-bottom: 1px solid currentcolor;
  margin-top: 0.2rem;
}

.withdrawStep1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 575px;
  padding-left: 105px;

  h1 {
    margin-bottom: 0.5rem;
  }

  form {
    button {
      margin-top: 2rem;
    }
  }

  .withdrawStep1Address {
    margin-bottom: 1.5rem;
  }

  .withdrawStep1Breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1rem 0;

      border-bottom: 1px solid var(--white);

      &:last-of-type {
        border-bottom: 2px solid var(--white);
      }
    }
  }
}

.withdrawStep4ProgressBarLabel {
  text-align: center;
  margin-bottom: 0.5rem;
}

.justifySelfCenter {
  justify-self: center;
}
