@import '@fontsource-variable/figtree/index.css';
@import '@fontsource-variable/roboto-mono/index.css';

:root {
  --white: #fff;
  --black: #000;
  --blue-bg: #3902e1;
  --brand-extra-dark: #000062;
  --brand-blue: #0500e1;
  --brand-dark-blue: #1e1e73;
  --gray-light: #fafafa;
  --gray: #b0aabd;
  --gray-blue-border: #2c3bd533;
  --brand-extra-dark-75: #000062bf;
  --brand-extra-dark-21: #00006236;
  --gray-dark-box-shadow: #222f3f3d;
  --gray-extra-dark: #242629;
  --gray-dark: #eae6f0;
  --gray-extra-light: #b0aabd;
  --green: #4cd4a9;
  --green-25: #4cd4a940;
  --red: #ff0e0e;
  --orange: #ed6c02;
  --orange-bg: #ffe8cd;
  --orange-light: #fff0e4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Figtree Variable', system-ui, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: var(--white);
  text-align: left;
  background-color: var(--brand-blue);
  background-image: url('/background.webp');
  background-size: 100vw auto;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100dvh;
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p,
span {
  &.body {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
}

img {
  max-width: 100%;
}

.warningNotification {
  max-width: 620px;
  display: flex;
  gap: 16px;
  padding: 16px;

  border-radius: 4px;
  background: var(--orange-bg);
  color: var(--brand-extra-dark);
  border: 1px solid var(--orange);

  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  text-align: start;

  img {
    margin: 0 16px;
  }
}
