.toggleBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;

  svg {
    transition: transform 0.2s ease;
    fill: var(--brand-blue);
  }

  :global &.open svg {
    transform: rotate(180deg);
  }
}
