.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;

  > a {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    min-width: 250px;
    height: 240px;
    padding: 32px;
    gap: 16px;
    border-radius: 12px;
    background-color: #1d1d21;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50% auto;
    color: var(--white);
    text-decoration: none;
    text-wrap: balance;

    &.discover {
      background-image: url('/discover-card-background.png');
    }

    &.stake {
      background-image: url('/stake-card-background.png');
    }

    &.move {
      background-image: url('/move-card-background.png');
    }

    p {
      flex-grow: 1;
    }
  }
}

@media screen and (min-width: 1024px) {
  .main {
    padding: 1.5rem;
  }

  .row {
    gap: 1.5rem;

    > a {
      height: 400px;
      flex: 1 1 calc(25% - 1.5rem);
      background-size: initial;
    }
  }
}
