@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingIcon {
  &:before {
    color: var(--brand-blue);
  }

  svg {
    color: var(--white);
    animation: rotating 3s linear infinite;
  }
}
