.homePage {
  display: flex;
  flex-direction: column;
  max-width: 671px;
  padding-top: 4.5rem;
  margin: 0 auto;

  .logo {
    margin-bottom: 4px;
  }

  p {
    color: var(--white);

    &.description,
    &.discoverMore {
      margin-bottom: 2.5rem;
    }
  }

  .connectWallet {
    margin-bottom: 2.5rem;
  }

  .infoBoxes {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 375px;
  }
}
