.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4rem 1rem 2.25rem;
}

.discoverTitle {
  margin-bottom: 1.5rem;
}

.dAppsTitle,
.toolingTitle {
  margin-bottom: 1rem;
}

.featured,
.dApps,
.tooling {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 3rem;
}
