.sidebarLayout {
  display: flex;
  .main {
    container-type: inline-size; /* To replace media queries with container queries, excluding sidebar */
    container-name: dapp;
    width: 100%;
  }
}

.sidebar {
  display: flex;
  width: 280px;
  height: 100dvh;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  position: sticky;
  top: 0;
  background: var(--background-background, #0d0d0f);

  .logo {
    flex-shrink: 0;
    line-height: 0;
  }

  .linksWrapper {
    display: flex;
    padding: var(--spacing-6, 24px) var(--spacing-4, 16px) var(--spacing-8, 32px) var(--spacing-4, 16px);
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    .links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--spacing-2, 8px);
      align-self: stretch;

      a {
        display: flex;
        padding: var(--spacing-2, 8px) var(--spacing-4, 16px);
        align-items: center;
        gap: var(--spacing-2, 8px);
        align-self: stretch;

        color: var(--interactive-elements-idle, #fafafa);
        /* desktop/body/semibold/m */
        /* font-family: Inter; */
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 160% */
        text-decoration: none;

        &.activeLink {
          background: #202020;
        }
      }

      hr {
        width: 85%;
        border-top: 0; /* Make hr thinner - only keep 1px bottom border */
        border-color: var(--outline-outline-1, #47474f);
      }
    }
  }
}

.sidebarToggle {
  display: none;
}

@media screen and (max-width: 1023px) {
  .sidebarToggle {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;

    background-color: #0d0d0f;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .sidebar {
    margin-left: -280px;
    transition: margin-left 0.2s ease-out;
  }
  .sidebarToggle:focus + .sidebar,
  .sidebar:focus,
  .sidebar:focus-within {
    margin-left: 0px;
  }
}
