@import '@fontsource-variable/figtree/index.css';
@import '@fontsource-variable/roboto-mono/index.css';

:root {
  --white: #fff;
  --black: #000;
  --blue-bg: #3902e1;
  --brand-extra-dark: #000062;
}

/** Use Figtree for "…" instead of Roboto Mono. */
@font-face {
  font-family: 'Roboto Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url('@fontsource-variable/figtree/files/figtree-latin-wght-normal.woff2') format('woff2');
  unicode-range: U+2026;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Figtree Variable', system-ui, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: var(--black);
  text-align: left;
  background-color: var(--blue-bg);
  background-image: url('/background.webp');
  background-size: 100vw auto;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
